* {
  margin: 0;
  padding: 0;
}

::selection {
  color: green;
  background: transparent;
}

body {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 50px;
  border: solid 1px gray;
  padding: 10px 20px;
}

.form > * {
  margin-bottom: 10px;
}

input {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: white;
  font-family: monospace;
}

input:focus {
  outline: solid 1px green;
}

button {
  color: white;
  background-color: transparent;
  border: none;
  text-align: left;
  font-size: 20px;
  cursor: pointer;
  transition: ease 0.1s;
  font-family: monospace;
}

button:focus {
  outline: solid 1px green;
}

button:hover {
  color: gray;
}

h1 {
  color: white;
  font-size: 50px;
  font-family: monospace;
}

h2 {
  color: white;
  font-size: 30px;
  margin-bottom: 30px;
  font-family: monospace;
}

.footer {
  color: white;
  position: fixed;
  width: 100vw;
  bottom: 0;
  text-align: center;
  padding: 10px;
}

h2::before {
  content: "> ";
}

a {
  color: green !important;
}

.matrix {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
